@inject Microsoft.Extensions.Options.IOptions<AppSettings> settings

<!DOCTYPE html>
<html lang="en" class="dark-theme" id="htmlTag">
<partial name="_LayoutHead" />

<body class="">
    <partial name="_LayoutLoader" />

    <!--wrapper-->
    <div class="wrapper toggled">
        <!--sidebar wrapper -->
        <div class="sidebar-wrapper" data-simplebar="true">
            <div class="sidebar-header">
                <div>
                    <img src="~/assets/images/logo-icon.png" class="logo-icon" alt="logo icon">
                </div>
                <div>
                    <h4 class="logo-text">Lupion</h4>
                </div>

                <div class="mobile-toggle-menu-close">
                    <i class="fa-solid fa-xmark"></i>
                </div>
            </div>
            <!--navigation-->
            @await Component.InvokeAsync("Menu")
        </div>
        <!--end sidebar wrapper -->
        <!--start header -->
        <header>
            <div class="topbar d-flex align-items-center">

                <div class="toggle-icon ms-auto" style="padding:10px;">
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
                <nav class="navbar navbar-expand">
                    <div class="mobile-toggle-menu">
                        <i class='bx bx-menu'></i>
                    </div>

                    <div class="top-menu ms-auto">
                        <ul class="navbar-nav align-items-center">

                            <li class="nav-item dropdown dropdown-large">
                                <a class="nav-link dropdown-toggle dropdown-toggle-nocaret position-relative" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bx bx-cog bx-spin"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a href="">
                                        <div class="msg-header">
                                            <p class="msg-header-title">Ayarlar</p>
                                        </div>
                                    </a>
                                    <div class="header-notifications-list">
                                        <a class="dropdown-item" onclick="openUsersModal()">
                                            <div class="d-flex align-items-center">
                                                <div class="notify bg-light-primary text-primary">
                                                    <i class="bx bx-group"></i>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="msg-name">
                                                        Kullanıcılar
                                                    </h6>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="dropdown-item" onclick="openRolesModal()">
                                            <div class="d-flex align-items-center">
                                                <div class="notify bg-light-primary text-primary">
                                                    <i class="bx bx-group"></i>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="msg-name">
                                                        Roller
                                                    </h6>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="dropdown-item" onclick="openRolePermissionsModal()">
                                            <div class="d-flex align-items-center">
                                                <div class="notify bg-light-primary text-primary">
                                                    <i class="fa-solid fa-users-gear"></i>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="msg-name">
                                                        Rol bazlı modül izinleri
                                                    </h6>
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                </div>
                            </li>
                            <li class="nav-item dropdown dropdown-large">
                                <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class='bx bx-category'></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <div class="p-3">
                                        <a href="@Url.Action("Index", "TaskManager")" class="app-item-link d-flex flex-column align-items-center text-decoration-none text-body py-2 px-4 rounded-3">
                                            <div class="app-box app-box--hover text-primary mb-2">
                                                <i class='bx bx-task'></i>
                                            </div>
                                            <div class="app-title">İşler</div>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dark-mode">
                                <a class="nav-link dark-mode-icon" href="javascript:void(0)">
                                    <i class="bx bx-sun"></i>
                                </a>
                            </li>

                            <li class="nav-item dropdown dropdown-large">
                                <a class="nav-link dropdown-toggle dropdown-toggle-nocaret position-relative" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="alert-count">0</span>
                                    <i class='bx bx-bell'></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a href="">
                                        <div class="msg-header">
                                            <p class="msg-header-title">Bildirimler</p>
                                            <p class="msg-header-clear ms-auto">Hepsini okundu olarak işaretle</p>
                                        </div>
                                    </a>
                                    <div class="header-notifications-list">
                                        <a class="dropdown-item" href="">
                                            <div class="d-flex align-items-center">
                                                <div class="notify bg-light-primary text-primary">
                                                    <i class="bx bx-group"></i>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="msg-name">
                                                        Test
                                                        <span class="msg-time float-end">
                                                            14 Saniye Önce
                                                        </span>
                                                    </h6>
                                                    <p class="msg-info">Test</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <a href="">
                                        <div class="text-center msg-footer">Tüm bildirimler</div>
                                    </a>
                                </div>
                            </li>

                            <li class="nav-item dropdown dropdown-large">
                                <a class="nav-link dropdown-toggle dropdown-toggle-nocaret position-relative" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="alert-count">0</span>
                                    <i class='bx bx-comment'></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a href="">
                                        <div class="msg-header">
                                            <p class="msg-header-title">Güncelleme notları</p>
                                            <p class="msg-header-clear ms-auto">Hepsini okundu olarak işaretle</p>
                                        </div>
                                    </a>
                                    <div class="header-messages-list">
                                        <a class="dropdown-item" href="">
                                            <div class="d-flex align-items-center">
                                                <div class="notify bg-light-primary text-primary">
                                                    <i class="bx bx-group"></i>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="msg-name">
                                                        Test
                                                        <span class="msg-time float-end">
                                                            14 Saniye Önce
                                                        </span>
                                                    </h6>
                                                    <p class="msg-info">Test</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <a href="">
                                        <div class="text-center msg-footer">Tüm notlar</div>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="user-box dropdown">
                        <a class="d-flex align-items-center nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-user user-box-icon mobile-user"></i>
                            <div class="user-info ps-3">
                                <p class="user-name mb-0">@ViewBag.User.FirstName @ViewBag.User.LastName</p>
                                <p class="designattion mb-0">@ViewBag.User.Role</p>
                            </div>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            @*        <li>
                                <a class="dropdown-item" href=""><i class="bx bx-user"></i><span>Profile</span></a>
                            </li>
                            <li>
                                <a class="dropdown-item" href=""><i class="bx bx-cog"></i><span>Settings</span></a>
                            </li>
                            <li>
                                <a class="dropdown-item" href=""><i class='bx bx-home-circle'></i><span>Dashboard</span></a>
                            </li>
                            <li>
                                <a class="dropdown-item" href=""><i class='bx bx-dollar-circle'></i><span>Earnings</span></a>
                            </li>
                            <li>
                                <a class="dropdown-item" href=""><i class='bx bx-download'></i><span>Downloads</span></a>
                            </li> *@
                            <li>
                                <div class="dropdown-divider mb-0"></div>
                            </li>
                            <li>
                                <a class="dropdown-item" href="javascript:void(0)" onclick="Logout()"><i class='bx bx-log-out-circle'></i><span>Çıkış Yap</span></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <!--end header -->
        <!--start page wrapper -->
        <div class="page-wrapper">
            <div class="page-content">
                @RenderBody()
            </div>
        </div>
        <!--end page wrapper -->
        <!--start overlay-->
        <div class="overlay toggle-icon"></div>
        <!--end overlay-->
        <!--Start Back To Top Button--> <a href="" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
        <!--End Back To Top Button-->
        @*
        <footer class="page-footer">
            <p class="mb-0">Copyright Â© 2021. All right reserved.</p>
        </footer>
        *@
    </div>
    <!--end wrapper-->

    <partial name="_LayoutScripts" />
    <partial name="_validationscriptspartial" />
</body>
</html>

<script>
    const baseAPIURL = "@settings.Value.ApiBaseUrl";
</script>
